@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
:root {
  --font-1: 'Poppins', sans-serif;

  --color-white: #fff;

  --background-light: #b9b3a9;

  --background-dark: #2c3e50;
  --background-dark-50: #335a81;

  --button-color: #428bca;
  --button-hover: #3071a9;
  --button-alternate: #f0ad4e;

  --progress-bar: #f3f3f3;

  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--font-1);
  display: flex;
  justify-content: center;
}

.light-theme {
  background: var(--background-light);
}

.dark-theme {
  background-color: var(--background-dark);
}

.dark-theme .container {
  background-color: var(--background-dark-50);
  color: var(--color-white);
}


.container {
  max-width: 375px;
  width: 100%;
  padding: 20px;
  margin-top: 80px;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border-radius: 20px;
}

h1 {
  text-align: center;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.options {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.option {
  display: block;
  margin-bottom: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.button {
  display: inline-block;
  width: 33%;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.1s;
}

.button:hover {
  background-color: var(--button-hover);
}

.result {
  text-align: center;
  font-weight: bold;
}

.hide {
  display: none;
}

.selected {
    background-color: var(--button-alternate) !important;
    color: var(--color-white);
}

#progressContainer {
    width: 100%;
    background-color: var(--progress-bar);
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
    height: 20px;
}

#progressBar {
    height: 100%;
    background-color: var(--button-alternate);
    width: 100%;
    transition: width 1s linear;
}

.toggleThemeButton {
  display: block;
  position: absolute;
  right: 5px;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.1s;
}